header {
  height: 75vh;
  padding: 10px 0;
  background-image: url(/beach-final-images/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: $lato-font;
    font-size: 87px;
    color: $ice-blue;
    display: flex;
    align-items: end;
  }
}